body{background-color:yellow;
margin: 30px;
}
li{
    font-size: 70px;
    color: rgb(255, 0, 13);
    text-overflow: ellipsis;
}
h1 {
    color: hsl(258, 100%, 50%);
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin-top: 30px;

}
article{
    font-size: 40px;
    text-align: center;
    margin-top: 30px;

}

}